<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mudrahome.mhlms">

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.mudrahome.mhlms.activities.ProfileDetailsActivity"
            android:label="Profile Details"
            android:parentActivityName="com.mudrahome.mhlms.activities.ProfileDetailsActivity" />
        <activity
            android:name="com.mudrahome.mhlms.activities.NotificationActivity"
            android:label="Notifications"
            android:parentActivityName=".activities.NotificationActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.mudrahome.mhlms.activities.StartOfferActivity"
            android:label="Start Ad"
            android:parentActivityName=".activities.StartOfferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mudrahome.mhlms.activities.FilterActivity"
            android:label="Filter Leads"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mudrahome.mhlms.activities.LeadListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarLead" />
        <activity
            android:name="com.mudrahome.mhlms.activities.FeedCustomerDetailsActivity"
            android:label="Feed Customer Details"
            android:parentActivityName=".activities.FeedCustomerDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mudrahome.mhlms.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/coloBlack" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".services.AlertReceiver" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_id" />

        <service
            android:name=".services.NotificationService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="connectedDevice"
            android:minSdkVersion="8">
            <intent-filter
                android:minSdkVersion="8"
                android:priority="999">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>

        </service>
    </application>


</manifest>