<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mudrahome.MHLMS">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Activities.ProfileDetailsActivity"
            android:label="Profile Details"
            android:parentActivityName=".Activities.ProfileDetailsActivity" />
        <activity
            android:name=".Activities.NotificationActivity"
            android:label="Notifications"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Activities.StartOfferActivity"
            android:label="Start Ad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.FilterActivity"
            android:label="Filter Leads"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.LeadListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarLead" />
        <activity
            android:name=".Activities.FeedCustomerDetailsActivity"
            android:label="Feed Customer Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/coloBlack" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".Services.AlertReceiver" />

        <service
            android:name=".Services.NotificationService"
            android:enabled="true"
            android:exported="true"
            android:minSdkVersion="8">
            <intent-filter
                android:minSdkVersion="8"
                android:priority="999">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>