<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mudrahome.MHLMS">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".Activities.NotificationActivity"
            android:label="Notifications"
            android:screenOrientation="portrait" />

        <activity
            android:label="Start Ad"
            android:name=".Activities.StartOfferActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.FilterActivity"
            android:label="Filter Leads"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.LeadListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarLead"/>

        <activity
            android:name=".Activities.FeedCustomerDetailsActivity"
            android:label="Feed Customer Details"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name=".Services.NotificationService"
            android:enabled="true"
            android:exported="false"
            android:minSdkVersion="8">
            <intent-filter
                android:minSdkVersion="8"
                android:priority="999">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
       <!-- <service
            android:name=".Services.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>-->

        <receiver android:name=".Services.AlertReceiver" />
    </application>

</manifest>